default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - BookContext:
                    entityManager: '@doctrine.orm.entity_manager'
                - DoctrineContext:
                    entityManager: '@doctrine.orm.entity_manager'
                    sampleFixtures: '@App\DataFixtures\SampleFixtures'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel

        Behat\MinkExtension:
            base_url: "/"
            default_session: symfony
            sessions:
                symfony:
                    symfony2: ~
